body {
  margin: 0;
  padding: 0;
  object-fit: cover;
  font-family: "Roboto", serif;
  color: #343A40;
}

a:hover {
  text-decoration: none;
}

.required {
  color: red;
  font-weight: 700;
  border: 0 !important;
  text-decoration: none;
}

input[type="radio"]:checked, input[type="checkbox"]:checked {
  accent-color: #6276FF;
}
.button-default {
  background-color: #6276FF;
  color: white;
}

.button-default:hover {
  background-color: #465AF1;
  color: white;
}

.btn-outline-default {
  color: #6276FF;
  border-color: #6276FF;
}

.btn-outline-default:hover {
  color: #fff;
  background-color: #6276FF;
  border-color: #6276FF;
}

.bg-dark {
  background-color: #494e54 !important;
}

/* Body */
.body {
  display: flex;
  height: calc(100vh - 70px);
  background-color: #F5F5F9;
}

.body .sider {
  width: 200px;
  background: #343A40;
  color: #C2C7D0;
  height: 100%;
  position: fixed;
  top: 70px;
  left: 0;
}

.body .main {
  margin-left: 200px; /* Tránh chồng lên sider */
  flex: 1;
  overflow-y: auto; /* Để nội dung không bị tràn ra ngoài */
  padding: 20px;
}
/* End Body */

/* Box-head */
.inner-title {
  font-family: "Segoe UI", Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 400;
}

/* Show Alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
  padding-right: 30px;
}

[close-alert] {
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

[show-alert].alert-show {
  animation-name: alert-show;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
@keyframes alert-show {
  from {
    right: -100%;
  }
  to {
    right: 15px;
    display: inline-block;
  }
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}
/* End Show Alert */

/* Product-list */
.card-head {
  text-transform: uppercase;
  font-weight: 500;
}

.change-multi {
  display: inline-block;
}

.table th, .table > thead > tr > td {
  border-top: none;
}

.table > thead th {
  text-transform: uppercase;
  padding: 10px .3rem;
  font-weight: 500;
}

.table-row td {
  vertical-align: middle;
}

.thumbnail {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.product-info .rud-button {
  opacity: 0; /* Ẩn đi ban đầu */
  transition: all 0.3s ease; /* Hiệu ứng chuyển động mượt */
  transform: translateY(10px);
}

.product-info:hover .rud-button {
  opacity: 1; /* Hiển thị khi hover */
  transform: translateY(-5px); /* Đưa về vị trí ban đầu */
}

.product-info .product-title > a {
  color: #343A40;
  display: block;
  transform: translateY(10px);
  transition: transform 0.3s ease; /* Hiệu ứng chuyển động mượt */
}

.product-info:hover .product-title > a {
  color: #6276FF;
  transform: translateY(-5px); /* Dịch lên trên khi hover */
}


.button-status {
  background-color: #e4545a;
  border: none;
  color: white;
  padding: 6px 11px;
  font-weight: 500;
}

.button-active {
  background-color: #51b85b !important;
}
/* End Product-list */

/* image-preview */
.image-preview {
  width: 150px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  padding: 10px;
}

.image-preview[src=""] {
  display: none;
}
/* End image-preview */

/* My account */
.account-profile {
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  padding: 1rem;
}

.admin-avatar img{
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.admin-logout {
  display: inline-block;
  height: 100%;
  padding: 1rem .75rem;
}
.profile-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

.avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 40px;
}

p {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.mt-3 {
  margin-top: 30px;
}

/* End My Account */