img{
  object-fit: contain;
}
body{
  background-color: #F5F5F5;
}

a{
  text-decoration: none;
}
.text-right{
  text-align: right !important;
}

/* Header */
.header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.header .inner-logo img {
  max-height: 60px;
  max-width: 100%;
}

.header .inner-menu > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
	flex-wrap: wrap;
}

.header .inner-menu > ul > li {
  margin-left: 20px;
}
/* End Header */

/* Footer */
.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
/* End Footer */

/* box-head */
.box-head {
  margin-bottom: 30px;
}

.box-head .inner-title {
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 600;
  color: green;
}
/* End box-head */

/* product-item */
.product-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
}

.product-item .inner-image {
  width: 100%;
  aspect-ratio: 4/3;
  border-bottom: 1px solid #ddd;
}

.product-item .inner-image img {
  width: 100%;
  height: 100%;
}

.product-item .inner-content {
  padding: 15px;
}

.product-item .inner-content .inner-title {
  font-size: 20px;
  font-weight: 600;
}

.product-item .inner-content .inner-price-new {
  font-size: 18px;
  font-weight: 600;
  color: green;
}

.product-item .inner-content .inner-price-old {
  font-size: 18px;
  font-weight: 600;
  color: red;
	text-decoration: line-through;
}

.product-item .inner-content .inner-discount {
  font-size: 14px;
  font-weight: 600;
  color: white;
  background: red;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 8px;
}
/* End product-item */

/* sub-menu */
.sub-menu {
  position: relative;
  z-index: 999;
}

.sub-menu ul {
  position: absolute;
  right: 0;
  top: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eae9e9;
  min-width: 180px;
  display: none;
}

.sub-menu ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sub-menu:hover > ul {
  display: block;
}

.sub-menu ul li {
  position: relative;
}

.sub-menu ul li ul {
  right: 100%;
  top: 0;
}

.sub-menu ul li:hover > ul {
  display: block;
}
/* End sub-menu */

/* product-detail */
.product-detail .inner-thumb img {
  width: 100%;
  height: auto;
}

.product-detail .inner-title {
  font-size: 32px;
  margin-bottom: 15px;
}

.product-detail .inner-category {
  margin-bottom: 10px;
}

.product-detail .inner-price-new {
  color: green;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

.product-detail .inner-price-old {
  color: red;
  font-weight: 600;
  font-size: 20px;
  text-decoration: line-through;
  margin-bottom: 10px;
}

.product-detail .inner-percent {
  margin-bottom: 10px;
}

.product-detail .inner-percent span {
  color: #fff;
  background: red;
  font-weight: 600;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 8px;
}

.product-detail .inner-stock {
  margin-bottom: 10px;
}

.product-detail .inner-stock span {
  color: #fff;
  background: green;
  font-weight: 600;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 8px;
}

.product-detail .inner-desc img {
  max-width: 100%;
}
/* End product-detail */


/* Show Alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
  padding-right: 30px;
}

[close-alert]{
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

[show-alert].alert-show {
  animation-name: alert-show;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
@keyframes alert-show {
  from {
    right: -100%;
  }
  to {
    right: 15px;
    display: inline-block;
  }
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}
/* End Show Alert */

/* User Profile */
.user-info {
  margin: 20px auto;
  padding: 20px;
  max-width: 70vw;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-info h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

.user-info .avatar {
  text-align: center;
  margin-bottom: 20px;
}

.user-info .avatar img {
  max-width: 150px;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.user-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-info ul li {
  margin-bottom: 10px;
  font-size: 18px;
}

.user-info ul li strong {
  color: #333;
}

.user-info ul li span {
  color: #555;
}

.user-info a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.user-info a:hover {
  background-color: darkgreen;
}
/* End User Profile */

/* 404 Error */
.page_404 {
  padding: 40px 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  font-family: "Quicksand", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
/* End 404 Error */
