* {
  margin: 0;
  padding: 0;
  object-fit: cover;
}

body {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #222;
}

.text-right {
  text-align: right !important;
}

a:hover {
  color: #ff8da1;
}

/* box-head */
.box-head {
  margin-bottom: 30px;
}

.box-head .inner-title {
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #FF617E;
}
/* End box-head */

/* sub-menu */
.sub-menu {
  position: relative;
  z-index: 999;
}

.sub-menu ul {
  position: absolute;
  right: 0;
  top: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eae9e9;
  min-width: 180px;
  display: none;
}

.sub-menu ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sub-menu:hover > ul {
  display: block;
}

.sub-menu ul li {
  position: relative;
}

.sub-menu ul li ul {
  right: 100%;
  top: 0;
}

.sub-menu ul li:hover > ul {
  display: block;
}
/* End sub-menu */

/* Show Alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
  padding-right: 30px;
}

[close-alert] {
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

[close-alert]:hover {
  background-color: #5555557f;
}

[show-alert].alert-show {
  animation-name: alert-show;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
@keyframes alert-show {
  from {
    right: -100%;
  }
  to {
    right: 15px;
    display: inline-block;
  }
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}
/* End Show Alert */

/* User Profile */
.user-info {
  margin: 20px auto;
  padding: 20px;
  max-width: 70vw;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-info h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

.user-info .avatar {
  text-align: center;
  margin-bottom: 20px;
}

.user-info .avatar img {
  max-width: 150px;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.user-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-info ul li {
  margin-bottom: 10px;
  font-size: 18px;
}

.user-info ul li strong {
  color: #333;
}

.user-info ul li span {
  color: #555;
}

.user-info a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.user-info a:hover {
  background-color: darkgreen;
}
/* End User Profile */

/* 404 Error */
.page_404 {
  padding: 40px 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  font-family: "Quicksand", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
/* End 404 Error */

/* Cart */
.table-cart {
  border-bottom: 1px solid black;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.table-cart thead tr th {
  text-transform: uppercase;
  font-weight: 600;
}

.table-cart tbody tr td {
  vertical-align: middle;
}

input[name="quantity"]{
  padding-left: 5px;
}
.button-del {
  display: inline-block;
  border-radius: 5px;
  padding: 5px 8px;
  color: white;
  background-color: #e4533a;
  transition: all 0.3s ease;
}

.button-del:hover {
  color: white;
  cursor: pointer;
  background-color: #cc4f37;
}

.total-cart {
  margin-top: 1rem;
}

.total-cart span {
  text-transform: lowercase;
  font-weight: 600;
  font-size: 1.6rem;
}

.button-action a, .button-checkout {
  margin-left: 1rem;
  background-color: #ff8da1;
  border: none;
}

.button-action a:hover, .button-checkout:hover {
  background-color: #FF617E;
}

.infor-checkout div {
  margin-bottom: 1rem;
}
/* End Cart */

/* Auth */
.form-box {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: #fff;
}

.form-box div{
  margin-bottom: 1rem;
}

.form-box a {
  color: #0d6efd;
}
.form-box a:hover {
  text-decoration: underline;
}
/* End Auth */